
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .left-col {
    float: left;
    width: 40%;
    margin-top: 6px;
    text-align: left;
  }
  
  .right-col {
    float: left;
    width: 60%;
    margin-top: 6px;
  }
  
  .form-field{
    padding: 20px;
    width: 350px;
  }
  
  .full-form{
    border-radius: 5px;
    padding-bottom: 20px;
    height: 12em;
  }
  